body{
    background-color: rgba(150, 150, 150, 1);
    padding: 0px;
    margin: 0px;
}
#mainCanvas{
    background:transparent;
}

#canvasBG{
    position: absolute;
    background: #000;
    z-index: -1;
}